.banner{
    @include media-breakpoint-down(md) {
        padding-top: 60px;
    }
    
    &-image {
        background-image: url('https://livedemo00.template-help.com/wt_62466_v3/images/landing-environment-1-960x870.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 768.39px;
        width: 100%;

        @include media-breakpoint-down(sm) {
            height: 300px;
        }

        @include media-breakpoint-down(lg){
            height: 500px;
        }
    }

    &-text {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        @include media-breakpoint-down(sm) {
            padding: 60px 15px;
        }

        @include media-breakpoint-down(lg) {
            padding: 100px 0px;
        }
    }

    &-title {
        font-size: 48px;
        font-family: $font-primary;
        letter-spacing: 0.06em;
        max-width: 400px;
        
        @include media-breakpoint-down(sm) {
            font-size: 24px;
        }

        @include media-breakpoint-down(lg){
            font-size: 28px;
        }

        &.one {
            font-weight: 400;
        }

        &.two {
            font-weight: lighter;
            line-height: 1.45;

            &::after {
                background: linear-gradient(to right, $violet 70%, $purple-light);
                content: '';
                display: block;
                height: 1px;
                margin: 40px auto 18px auto;
                opacity: 0.25;
                width: 100px;

                @include media-breakpoint-down(sm){
                    margin: 20px auto 0px auto;
                }

                @include media-breakpoint-down(lg){
                    margin-top: 30px;
                }
            }  
        }
    }

    &-paragraph {
        font-family: $font-secondary;
        font-size: 24px;
        font-weight: 300;
        max-width: 600px;
        padding-top: 25px;
        text-align: center;

        @include media-breakpoint-down(sm) {
            font-size: 19px;
            padding-top: 10px;
        }

        @include media-breakpoint-down(lg){
            font-size: 19px;
            max-width: 720px;
            padding-top: 25px;
        }
    }
}