.button {
	font-family: $font-primary;
	font-size: 18px;
	font-weight: 400;
	border-radius: 30px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: $violet;
	color: $white;
	padding: 14px 38px;
	margin-top: 25px;
	display: inline-block;
	width: 252px;			
	display: flex;
	justify-content: center;

	&:hover {
		background-color: $purple-light;
		color: $white;
		transition: ease-in-out 0.5s;
		cursor: pointer;
		border: none;
	}

    @include media-breakpoint-down(sm){
        font-size: 15px;
        padding: 9px 30px;
		width: 210px;
    }

	@include media-breakpoint-down(lg){
		font-size: 15px;
		width: 223px;
	}
	
	&.primary{
		width: 230px;

		@include media-breakpoint-down(sm){
			height: 41.5px;
			width: 210px;
		}
	}

	&.secondary {
		padding: 14px 60px;
		background-color: $white;
		color: $black;
		width: 230px;

		&:hover {
			background-color: $purple-light;
			color: $white;
			transition: all ease-in-out 0.5s;
			cursor: pointer;
			border: none;
		}
		@include media-breakpoint-down (sm){
			padding: 9px 30px;
			
		}
	}

	&.transparent {
		width: 230px;
		background: transparent;
		border: 2px solid $white;
		text-align: center;
		&:hover {
			background-color: $purple-darken;
			border: none;
		}

		@include media-breakpoint-down(sm) {
			width: 210px;
			font-size: 18px;
		}
	}
	&.footer {
		height: 48px;
		font-size: 16px;
		border: none;
		margin-top: 0;
		margin-left: -40px;
		width: 158px;
		padding: 11px 35px;
		background-color: $violet;
		text-align: center;

		@include media-breakpoint-down(sm){
			font-size: 14px;
		}

		&:hover {
			background-color: $purple-light;
			color: $white;
			transition: ease-in-out 0.5s;
			cursor: pointer;
			border: none;
		}
	}
}