.first-section {

    &-text {
    	color: $white;
    	display: block;
        font-family: $font-secondary;
		font-size: 24px;
		margin: 0;
    	text-align: center;
        
		@include media-breakpoint-down(sm) {
			max-width: 380px;
			letter-spacing: 0.01px;
            line-height: 1.2;
		}

		@include media-breakpoint-down(lg){
			font-size: 19px;
		}



    	&-hot {
    		background-color: $purple-light;
    		font-weight: 700;
			font-size: 16px;
			margin: 0px 15px;
			padding: 5px 18px;
    	}

    	&-brave {
			font-weight: 300;
    		letter-spacing: 0.5px;

            @include media-breakpoint-down(md){
                font-size: 18px;
                font-weight: 400;
            }
    	}

    	&-contact {
    		color: $yellow;
			font-weight: 500;
			text-decoration: none;

    		&:hover {
    			color: $white;
    			cursor: pointer;
				transition: ease-in-out 0.3s;
    		}

            @include media-breakpoint-down(md){
                font-size: 18px;
            }
    	}
    }
}