.first-section {

    &-text {
    	margin: 0;
    	display: block;
    	text-align: center;
    	color: $white;
        font-size: 24px;
        font-family: $font-secondary;

		@include media-breakpoint-down(md) {
            max-width: 500px;
            line-height: 1.2;
            letter-spacing: 0.05px;
            margin: 0px 10px;
		}

    	&-hot {
    		padding: 5px 18px;
    		background-color: $purple-light;
    		font-weight: 700;
    		margin-right: 16px;
            font-size: 16px;
    	}

    	&-brave {
    		letter-spacing: 0.5px;
            font-weight: 200;

            @include media-breakpoint-down(md){
                font-size: 18px;
                font-weight: 400;
            }
    	}

    	&-contact {
    		text-decoration: none;
    		color: $yellow;
    		font-weight: 700;

    		&:hover {
    			color: $white;
    			transition: ease-in-out 0.3s;
    			cursor: pointer;
    		}
            @include media-breakpoint-down(md){
                font-size: 18px;
            }
    	}
    }
}