.footer {
	padding: 40px 30px;
	background: $black;
	color: $white;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: auto;

	&-container {
		width: 100%;
		padding: 0 10px;
		margin-top: 40px;

		@include media-breakpoint-down(sm) {
			margin-top: 0;
		}
	}

	&-title {
		font-family: $font-primary;
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 2px;
	}

	&-about {
		padding: 0;
		padding-right: 20px;
		margin-top: 20px;
		margin-bottom: 0;
		font-family: $font-secondary;
		font-size: 18px;
		font-weight: 300;

		@include media-breakpoint-down(sm) {
			margin-bottom: 40px;
		}
	}

	&-gallery {
		padding: 0;
		margin-top: 20px;
		margin-right: 0;
		display: grid;
		grid-template-columns: repeat(3, 80px);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 15px;
		grid-row-gap: 15px;

		@include media-breakpoint-down(sm) {
			padding: 0;
			margin-bottom: 40px;
		}

		&-container {
			position: relative;
			max-width: 80px;
			max-height: 80px;
			z-index: 1;
			&:hover {
				background: $purple-light;
			}
			&::before {
				content: '+';
				z-index: -1;
				position: absolute;
				display: block;
				font-size: 20px;
				margin: 28px 34px;

				&:hover {
					background: purple;
					color: purple;
				}
			}
		}

		&-image {
			margin: 0;
			padding: 0;
			width: 80px;
			height: 80px;
			display: block;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			object-fit: cover;
		}

		&-modal {
			width: 100%;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				background: $purple-light;
				z-index: 1;
				opacity: 0.25;
			}
		}
	}

	&-contact {
		margin-top: 20px;
		padding: 0;
		padding-right: 40px;

		@include media-breakpoint-down(sm) {
			margin-bottom: 40px;
		}

		&-items {
			margin-top: 0;
			margin-bottom: 0;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			margin-top: 0;
			margin-bottom: 20px;
		}

		&-icon {
			margin: 0;
			padding: 0 6px;
			color: $violet;
		}

		&-text {
			margin-top: 0;
			margin-bottom: 0;
			padding: 0 6px;
			text-decoration: none;
			color: $white;
			font-size: 18px;
			font-family: $font-secondary;
			font-weight: 300;
			transition: color ease-in-out 0.2s;

			&:hover {
				color: $purple-light;
				cursor: pointer;
			}
		}

		&-socials {
			margin-top: 35px;
			display: flex;
			padding-left: 6px;
			justify-content: space-between;
			align-items: flex-start;
			max-width: 180px;
		}
		&-link {
			margin: 0;
			color: $gray-darken;

			&.facebook {
				&:hover {
					color: $blue-darken;
				}
			}
			&.twitter {
				&:hover {
					color: $blue-light;
				}
			}
			&.instagram {
				&:hover {
					color: $pink;
				}
			}
			&.google {
				&:hover {
					color: $red;
				}
			}
			&.linkedin {
				&:hover {
					color: $blue;
				}
			}
		}
	}

	&-newsletter {
		margin-top: 20px;
		width: 100%;

		&-form {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-text {
			font-size: 18px;
			font-family: $font-secondary;
			font-weight: 300;
		}

		&-input {
			padding: 10px 18px;
			padding-left: 25px;
			border: none;
			border-radius: 35px;
		}
	}

	&-last {
		margin-top: 30px;
		padding: 30px 10px;
		border-top: 1px solid $gray-darken;
		padding-bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		flex: 1;

		&-navbar {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			@include media-breakpoint-down(lg) {
				width: 100%;
			}
		}
		&-link {
			border: none;
			margin: 0;
			padding: 0;
			text-decoration: none;
			color: $gray-semi-dark;
			font-family: $font-primary;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding-right: 25px;
		}

		&-copyright {
			border: none;
			text-align: end;
			margin-bottom: 0;

			@include media-breakpoint-down(lg) {
				margin-top: 20px;
			}
		}
		&.text {
			width: 100%;
			border: none;
			margin: 0;
			padding: 0;
			text-align: end;
			color: $gray-darken;
			font-family: $font-secondary;
			font-weight: 300;
		}
	}
}