.footer {
	align-items: flex-start;
	background: $black;
	color: $white;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	justify-content: space-between;
	padding: 40px 30px;
	width: 100%;

	&-container {
		margin-top: 40px;
		width: 100%;

		@include media-breakpoint-down(sm){
			margin-top: 0;
			max-width: 350px;
		}
	}

	&-title {
		font-family: $font-primary;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;

		@include media-breakpoint-down(sm){
			font-size: 17px;
		}
	}

	&-about {
		padding: 0;
		margin-top: 20px;
		margin-bottom: 0;
		font-family: $font-secondary;
		font-size: 18px;
		font-weight: 300;

		@include media-breakpoint-down(sm) {
			margin-bottom: 40px;
			font-size: 15px;
		}
	}

	&-gallery {
		padding: 0;
		margin-top: 20px;
		display: grid;
		grid-template-columns: repeat(3, 100px);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;

		@include media-breakpoint-down(sm) {
			padding: 0;
			margin-bottom: 40px;
		}

		&-container {
			position: relative;
			max-width: auto;
			max-height: auto;
			z-index: 1;
			&:hover {
				background: $purple-light;
			}
			&::before {
				content: '+';
				z-index: -1;
				position: absolute;
				font-size: 20px;
				margin: 28px 34px;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;

				&:hover {
					background-color: $purple-light;
				}
			}
		}

		&-image {
  			cursor: pointer;
  			transition: 0.3s;
  			margin: 0;
  			padding: 0;
  			width: 100px;
			height: 100px;
			object-fit: cover;
			object-position: center;
		}

		&-modal {
			width: 100%;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				background: $purple-light;
				z-index: 1;
				opacity: 0.25;
			}
		}
	}

	&-contact {
		margin-top: 20px;
		padding: 0;

		@include media-breakpoint-down(sm) {
			margin-bottom: 40px;
		}

		&-items {
			margin-top: 0;
			margin-bottom: 0;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			margin-top: 0;
			margin-bottom: 20px;
		}

		&-icon {
			margin: 0;
			padding: 0 6px;
			color: $violet;
		}

		&-text {
			margin-top: 0;
			margin-bottom: 0;
			padding: 0 6px;
			text-decoration: none;
			color: $white;
			font-size: 18px;
			font-family: $font-secondary;
			font-weight: 300;
			transition: color ease-in-out 0.2s;

			&:hover {
				color: $purple-light;
				cursor: pointer;
			}

			@include media-breakpoint-down (sm){
				font-size: 15px;
			}
		}

		&-socials {
			font-size: 20px;
			margin-top: 35px;
			display: flex;
			padding-left: 6px;
			justify-content: space-between;
			align-items: flex-start;
			max-width: 180px;
		}
		&-link {
			margin: 0;
			color: $gray-light;

			&.facebook {
				&:hover {
					color: $blue-darken;
				}
			}
			&.twitter {
				&:hover {
					color: $blue-light;
				}
			}
			&.instagram {
				&:hover {
					color: $pink;
				}
			}
			&.google {
				&:hover {
					color: $red;
				}
			}
			&.linkedin {
				&:hover {
					color: $blue;
				}
			}
		}
	}

	&-newsletter {
		margin-top: 20px;
		width: 100%;

		&-form {
			align-items: center;
			display: flex;
			font-family: $font-secondary;
			justify-content: center;
			margin-top: 20px;
			max-width: 100%;

		}

		&-text {
			font-size: 18px;
			font-family: $font-secondary;
			font-weight: 300;
			letter-spacing: 0.02em;

			@include media-breakpoint-down(sm){
				font-size: 15px;
				max-width: 320px;
			}
		}

		&-input {
			padding: 12px 18px 12px 25px;
			border: none;
			border-radius: 35px;
			width: 260px;
		}
	}
// Footer Last
	&-last {
		margin-top: 50px;
		padding: 50px 0px 0px;
		border-top: 1px solid $gray-darken;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		flex: 1;
	
		@include media-breakpoint-down(lg) {
			flex-direction: row;
		}
	
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			align-items: flex-start;
		}
	
		&-copyright {
			border: none;
			text-align: end;
			margin-bottom: 0;
		
			@include media-breakpoint-down(sm) {
				margin-top: 20px;
			}
		
			&-text {
				width: 100%;
				border: none;
				margin: 0;
				padding: 0;
				text-align: end;
				color: $gray-darken;
				font-size: 18px;
				font-family: $font-secondary;
				font-weight: 300;

				@include media-breakpoint-down(sm){
					font-size: 15px;
				}
			}
		}
	
		&-label {
			display: none;
	        @include media-breakpoint-down(sm) {
				display: inline-block;
			}
		}

		&-hamburguer{
			display: none;
		
		}
	
		&-hamburguer:checked ~ &-links {
			@include media-breakpoint-down(lg) {
				display: flex;
			}
			@include media-breakpoint-down(sm) {
				display: block;
			}
		}
	
		&-links {
			list-style: none;
			padding: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 720px;
			margin-bottom: 0;
		
			@include media-breakpoint-down(sm) {
				display: none;
				margin-left: 0px;
				width: 100px;
			}
		}
	
		&-link {
			text-decoration: none;
			color: $white;
			text-transform: uppercase;
			font-family: $font-primary;
			font-size: 18px;
			font-weight: 300;
			letter-spacing: 2px;
		
			@include media-breakpoint-down(sm) {
				display: block;
				width: 100%;
				box-sizing: border-box;
				padding: 4px 0px;
			}
		
			&:hover {
				color: $violet;
			}
		}
	}
}