.information {
    &-container{
        display: flex;
        width: 100%;

        &.one{
            justify-content: flex-end;
            @include media-breakpoint-down(sm){
                justify-content: center;
            }
        }
        &.two{
            justify-content: space-around;
        }
    }
    
    &-image {
        background-image: url('https://livedemo00.template-help.com/wt_62466_v3/images/landing-environment-2-720x459.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        float: right;
        height: 459px;
        width: 720px;

        @include media-breakpoint-down(sm) {
            height: 218.66px;
            width: 343px;
        }

        @include media-breakpoint-down(lg) {
            height: 411.19px;
            width: 645px;
        }
    }

    &-text {
        width: 570px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 50px;
            width: 350px;
        }
    }

    &-title {
        font-family: $font-primary;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 2px;

        &::after {
            background: linear-gradient(to right, $violet 70%, $purple-light);
            content: '';
            display: block;
            height: 3px;
            margin: 40px 0 ;
            width: 100px;

            @include media-breakpoint-down(sm){
                margin: 20px 0 10px 0;
            }

            @include media-breakpoint-down(lg){
                margin: 20px 0 0 0;
            }
        }
        @include media-breakpoint-down(sm){
            font-size: 24px;
        }

        @include media-breakpoint-down(lg){
            font-size: 28px;
        }
    }

    &-description {
        font-family: $font-secondary;
        font-size: 24px;
        font-weight: 300;
        
        @include media-breakpoint-down(sm){
            font-size: 19px;
        }

        @include media-breakpoint-down(lg){
            font-size: 19px;
        }

        &.light {
            color: $gray-darken;
            font-size: 18px;
            margin-top: 20px;
            
            @include media-breakpoint-down(sm){
                font-size: 15px;
                letter-spacing: 1.5;
                line-height: 1.7;
            }
        }
    }
}