.information {
    &-container{
        display: flex;
        width: 100%;

        &.one{
            justify-content: flex-end;
        }
        &.two{
            justify-content: space-around;
        }
    }
    
    &-image {
        background-image: url('https://livedemo00.template-help.com/wt_62466_v3/images/landing-environment-2-720x459.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        float: right;
        width: 720px;
        height: 459px;

        @include media-breakpoint-down(lg) {
            width: 100%;
            order: 2;
        }

        @include media-breakpoint-down(sm) {
            width: 345px;
            height: 220px;
        }
    }

    &-text {
        width: 570px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 50px;
            width: 350px;
        }
    }

    &-title {
        font-family: $font-primary;
        font-size: 48px;
        letter-spacing: 2px;
        font-weight: 400;

        &::after {
            content: '';
            display: block;
            width: 100px;
            height: 3px;
            background: linear-gradient(to right, $violet 70%, $purple-light);
            margin: 40px 0 ;
            @include media-breakpoint-down(sm){
                margin: 20px 0 10px 0;
            }
        }
        @include media-breakpoint-down(md){
            font-size: 24px;
        }
    }

    &-description {
        font-family: $font-secondary;
        font-size: 24px;
        font-weight: 300;
        
        @include media-breakpoint-down(md){
            font-size: 19px;
        }

        &.light {
            font-size: 18px;
            color: $gray-darken;
            margin-top: 20px;
            
            @include media-breakpoint-down(md){
                font-size: 15px;
                line-height: 1.7;
                letter-spacing: 1.5;
            }
        }
    }
}