.team {
	width: 100%;
	padding: 125px 0px;

	@include media-breakpoint-down(sm){
		padding: 60px 0;
	}

	&-container-cards{
		margin-top: 85px;
		padding: 0;
		justify-content: space-between;
	}

	&-title {
		text-transform: uppercase;
		font-size: 48px;
		font-family: $font-primary;
		text-align: center;
		font-weight: 400;
		letter-spacing: 2px;

		@include media-breakpoint-down(sm){
			font-size: 24px;
		}

		&::after {
			background: linear-gradient(to right, $violet 70%, $purple-light);
			content: '';
			display: block;
			height: 1px;
			margin: 40px auto 0px auto;
			opacity: 0.25;
			width: 100px;

			@include media-breakpoint-down(sm){
				margin-top: 20px;
			}
		}
	}

	&-card {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: fit-content;

		@include media-breakpoint-down(sm) {
			margin-bottom: 50px;
		}
	}

	&-image {
		width: 300px;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 50%;

		@include media-breakpoint-down(sm){
			width: 270px;
			height: 270px;
		}
	}

	&-name {
		font-family: $font-secondary;
		text-decoration: none;
		font-size: 24px;
		color: $violet;
		text-align: center;
		margin-top: 20px;

		@include media-breakpoint-down(sm){
			font-size: 19px;
		}
	}

	&-job {
		font-size: 18px;
		font-family: $font-secondary;
		color: $gray-darken;
		font-weight: 300;
		font-style: italic;
		@include media-breakpoint-down(sm){
			font-size: 18px;
		}
	}

	&-icons {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 15px;
		padding: 0 30px;
		width: 100%;

		&.icon {
			font-size: 20px;
			margin: 0 10px;
			width: auto;
			padding: 0;
			list-style: none;
			text-align: center;
			color: $gray-semi-dark;
			&:hover {
				transition: color ease-in-out 0.2s;
				color: $violet;
				cursor: pointer;
			}
		}
	}
}

