$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Lato', sans-serif;

$white: #fff;
$black: #29293a;
$violet: #ed1c94;
$yellow: #ffec17;
$gray-darken: #838386;
$gray-semi-dark: #c2c2c3;
$gray-light: #f2f3f9;
$gray:#ededed;
$blue-darken: #3e5a86;
$blue-light: #008ee0;
$pink: #c13584;
$red: #b53418;
$blue: #116584;
$purple-darken: #6a0da6;
$purple-dark: #6d0eb1;
$purple-light: #981df0;



