.Home{
	
	&-heading {
		display: flex;
		flex: 1;
		flex-direction: row;
		align-items: center;
		background-color: $gray-light;

		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
	}

	&-first-section {
		background: linear-gradient(to right, $purple-dark 20%, $violet);
        padding: 40px 0;
        width: 100%;
	}

	&-card-container{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		padding: 125px 0px;
		width: 100%;

		@include media-breakpoint-down(lg) {
			gap: 40px;
			justify-content: center;
			padding: 80px 0;
		}

		@include media-breakpoint-down(sm) {
			justify-content: center;
			padding: 80px 0;
		}
	}

	&-information {
		background-color: $gray-light;
    	display: flex;
    	justify-content: center;
    	align-items: flex-start;
    	padding: 120px 0px;
    	width: 100%;
    	height: auto;
    	flex: 1;
		
    	@include media-breakpoint-down(lg) {
			flex-direction: column-reverse;
    	    justify-content: flex-start;
    	    align-items: center;
    	    padding: 80px 50px;
    	}
    	@include media-breakpoint-down(sm) {
    	    flex-direction: column-reverse;
    	    justify-content: flex-start;
    	    align-items: center;
    	    padding: 80px 20px;
    	}
	}
}